<app-breadcrumb [title]="'Review'" [breadcrumb]="'Review'"></app-breadcrumb>
<!-- section start -->
<section class="section-b-space blog-detail-page review-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="comment-section">
                    <li>
                        <div class="media"><img src="assets/images/testimonial/1.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h6>Aqeel Abbas <span>( 12 Jannuary 2018 at 1:30AM )</span></h6>
                                <p>All good</p>
                                <ul class="comnt-sec">
                                    <li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span>(14)</span></a></li>
                                    <li><a href="#">
                                            <div class="unlike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>(2)</div>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media"><img src="assets/images/testimonial/2.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h6>Furqan Rafiq <span>( 12 Jannuary 2018 at 1:30AM )</span></h6>
                                <p>Secure</p>
                                <ul class="comnt-sec">
                                    <li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span>(14)</span></a></li>
                                    <li><a href="#">
                                            <div class="unlike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>(2)</div>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media"><img src="assets/images/testimonial/3.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h6>Muneeb <span>( 18 Jannuary 2020 at 1:30AM )</span></h6>
                                <p>Fast Service</p>
                                <p></p>
                                <ul class="comnt-sec">
                                    <li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span>(14)</span></a></li>
                                    <li><a href="#">
                                            <div class="unlike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>(2)</div>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- section end -->